<ul class="breadcrumbs flex f-wrap f-a-center {{ extra_class }}">

  <li>
    <a href="/">{{ 'general.breadcrumbs.home' | t }}</a>
  </li>

  <li class="sep">/</li>

  {% if template.name == 'product' %}
    {% if collection %}
      <li>
        <a href="{{ collection.url }}">{{ collection.title }}</a>
      </li>
      <li class="sep">/</li>
    {% else %}
      {% assign handled_type = product.type | handleize %}
      {% assign handled_collection = collections[handled_type]  %}

      {% if product.metafields.custom.breadcrumbs != blank %}
        {% for col in product.metafields.custom.breadcrumbs.value %}
          <li>
            <a href="{{ col.url }}">{{ col.title }}</a>
          </li>
          <li class="sep">/</li>
        {% endfor %}
      {% elsif handled_collection != blank %}
        <li>
          <a href="{{ handled_collection.url }}">{{ handled_collection.title }}</a>
        </li>
        <li class="sep">/</li>
      {% elsif product.type != blank %}
        <li>
          {{ product.type }}
        </li>
        <li class="sep">/</li>
      {% endif %}
    {% endif %}

    <li>
      <span>{{ product.title }}</span>
    </li>
  {% endif %}

  {% if template.name == 'collection' %}

    {% if collection.metafields.custom.breadcrumbs != blank %}
      {% for col in collection.metafields.custom.breadcrumbs.value %}
        <li>
          <a href="{{ col.url }}">{{ col.title }}</a>
        </li>

        <li class="sep">/</li>
      {% endfor %}
    
    {% endif %}

    <li>
      <span>{{ collection.title }}</span>
    </li>
  {% endif %}

  {% if template.name == 'search' %}
    <li>
      <span>{{ 'general.breadcrumbs.search' | t }}</span>
    </li>
  {% endif %}

</ul>